footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: aliceblue;
}

h4{
  color: red;
}

footer{
  background-color: red;
}
red-label{
  color: red;
}
green-label{
  color: green;
}
blue-label{
  color: blue;
}